---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# generators:
# # ACM PG needed for observability:
# - common/copy-acm-route-observability-v1.yaml

resources:
# MSC binding needed for observability:
# - common/msc-binding-observability.yaml
- {{ ocloud_clustertemplate_folder }}


