apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  annotations:
    target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
  name: {{ catalogsource_name }}
  namespace: openshift-marketplace
spec:
  displayName: disconnected-redhat-operators-upgrade
  image: {{ catalogsource_image }}:{{ catalogsource_image_tag }}
  publisher: Red Hat
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 1h
