apiVersion: v1
kind: ConfigMap
metadata:
  name: release-image-signature
  namespace: openshift-config-managed
  labels:
    release.openshift.io/verification-signatures: ""
binaryData:
  {{ image_signature_data.content | b64decode }}
