---
apiVersion: automationhub.ansible.com/v1beta1
kind: AutomationHub
metadata:
  name: automationhub
  namespace: ansible-automation-platform
spec:
  api:
    log_level: INFO
    replicas: 1
  content:
    log_level: INFO
    replicas: 2
  file_storage_access_mode: ReadWriteOnce
  file_storage_size: 100Gi
  file_storage_storage_class: {{ automationhub_file_storage_storage_class }}
  image_pull_policy: IfNotPresent
  ingress_type: Route
  loadbalancer_port: 80
  loadbalancer_protocol: http
  postgres_resource_requirements:
    limits:
      cpu: 1000m
      memory: 8Gi
    requests:
      cpu: 500m
      memory: 2Gi
  postgres_storage_class: {{ automationhub_postgres_storage_class }}
  postgres_storage_requirements:
    #limits:
    #  storage: 50Gi
    requests:
      storage: 8Gi
  redis_storage_class: {{ automationhub_redis_storage_class }}
  resource_manager:
    replicas: 1
  route_tls_termination_mechanism: Edge
  storage_type: File
  web:
    replicas: 1
  worker:
    replicas: 2
