---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ sno_host }}
  labels:
    name: {{ sno_host }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ai-pull-secret
  namespace: {{ sno_host }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ pull_secret | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ sno_host }}-bmc-secret
  namespace: {{ sno_host }}
type: Opaque
data:
  password: {{ bmc_password_base64 }}
  username: {{ bmc_username_base64 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ sno_host }}-marketplace-namespace
  namespace: {{ sno_host }}
data:
  namespace.yml: |
    # Taken from https://github.com/operator-framework/operator-marketplace/blob/53c124a3f0edfd151652e1f23c87dd39ed7646bb/manifests/01_namespace.yaml
    # Update it as the source evolves.
    apiVersion: v1
    kind: Namespace
    metadata:
      annotations:
        openshift.io/node-selector: ""
        workload.openshift.io/allowed: "management"
      labels:
        openshift.io/cluster-monitoring: "true"
        pod-security.kubernetes.io/enforce: baseline
        pod-security.kubernetes.io/enforce-version: v1.25
        pod-security.kubernetes.io/audit: baseline
        pod-security.kubernetes.io/audit-version: v1.25
        pod-security.kubernetes.io/warn: baseline
        pod-security.kubernetes.io/warn-version: v1.25
      name: "openshift-marketplace"
{% if ai_clusterinstance_varlibcontainers_partitioned %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ sno_host }}-varlibcontainers-partitioned
  namespace: {{ sno_host }}
data:
  varlibcontainers-partitioned.yml: |
    ### https://cloud.redhat.com/blog/a-guide-to-creating-a-separate-disk-partition-at-installation-time
    ### https://docs.openshift.com/container-platform/4.13/installing/installing_vsphere/installing-vsphere.html#installation-disk-partitioning_installing-vsphere
    apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: master
      name: 98-var-lib-containers-partitioned
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          disks:
            - device: /dev/sda
              partitions:
                - label: var-lib-containers
                  startMiB: 50000 # Leave room for rootfs
                  sizeMiB: 0 # Use available space
          filesystems:
            - device: /dev/disk/by-partlabel/var-lib-containers
              format: xfs
              mountOptions:
                - defaults
                - prjquota
              path: /var/lib/containers
              wipeFilesystem: true
        systemd:
          units:
            - contents: |-
                # Generated by Butane
                [Unit]
                Before=local-fs.target
                Requires=systemd-fsck@dev-disk-by\x2dpartlabel-var\x2dlib\x2dcontainers.service
                After=systemd-fsck@dev-disk-by\x2dpartlabel-var\x2dlib\x2dcontainers.service

                [Mount]
                Where=/var/lib/containers
                What=/dev/disk/by-partlabel/var-lib-containers
                Type=xfs
                Options=defaults,prjquota

                [Install]
                RequiredBy=local-fs.target
              enabled: true
              name: var-lib-containers.mount
{% endif %}
---
apiVersion: siteconfig.open-cluster-management.io/v1alpha1
kind: ClusterInstance
metadata:
  name: {{ sno_host }}
  namespace: {{ sno_host }}
spec:
  additionalNTPSources:
  - {{ hostvars[sno_host]['hv_ip'] }}
  baseDomain: {{ hostvars[sno_host]['base_domain'] }}
  clusterImageSetNameRef: {{ cluster_image_set }}
  extraLabels:
    ManagedCluster:
      common: 'true'
      du-profile: "{{ sno_du_profile }}"
      group-du-sno: ''
      name: {{ sno_host }}
{% if sno_mc_observability %}
      observability: enabled
{% else %}
      observability: disabled
{% endif %}
      sites: {{ sno_host }}
  clusterName: {{ sno_host }}
  clusterNetwork:
  - cidr: {{ "fd01::/48" if hostvars[sno_host]['ip'] | ansible.utils.ipv6 else "10.128.0.0/14" }}
    hostPrefix: {{ sno_cluster_network_host_prefix }}
  clusterType: SNO
  extraManifestsRefs:
  - name: {{ sno_host }}-marketplace-namespace
{% if ai_clusterinstance_varlibcontainers_partitioned %}
  - name: {{ sno_host }}-varlibcontainers-partitioned
{% endif %}
  holdInstallation: false
{% if sno_du_profile == "4.15" %}
  installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"NodeTuning\" ] }}"
{% elif sno_du_profile in ["4.16", "4.17", "4.18", "4.19", "4.20", "4.21", "4.22"]  %}
  installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"Ingress\", \"NodeTuning\" ] }}"
  ignitionConfigOverride: "{\"ignition\":{\"version\":\"3.2.0\"},\"storage\":{\"files\":[{\"path\":\"/etc/containers/policy.json\",\"mode\":420,\"overwrite\":true,\"contents\":{\"source\":\"data:text/plain;charset=utf-8;base64,ewogICAgImRlZmF1bHQiOiBbCiAgICAgICAgewogICAgICAgICAgICAidHlwZSI6ICJpbnNlY3VyZUFjY2VwdEFueXRoaW5nIgogICAgICAgIH0KICAgIF0sCiAgICAidHJhbnNwb3J0cyI6CiAgICAgICAgewogICAgICAgICAgICAiZG9ja2VyLWRhZW1vbiI6CiAgICAgICAgICAgICAgICB7CiAgICAgICAgICAgICAgICAgICAgIiI6IFt7InR5cGUiOiJpbnNlY3VyZUFjY2VwdEFueXRoaW5nIn1dCiAgICAgICAgICAgICAgICB9CiAgICAgICAgfQp9\"}}]}}"
{% endif %}
  machineNetwork:
  - cidr: {{ hostvars[sno_host]['machine_network'] }}
  networkType: OVNKubernetes
  nodes:
  - automatedCleaningMode: disabled
{% if hostvars[sno_host]['hv_ip'] | ansible.utils.ipv6 %}
    bmcAddress: redfish-virtualmedia+http://[{{ hostvars[sno_host]['hv_ip'] }}]:9000/redfish/v1/Systems/{{ hostvars[sno_host]['domain_uuid'] }}
{% else %}
    bmcAddress: redfish-virtualmedia+http://{{ hostvars[sno_host]['hv_ip'] }}:9000/redfish/v1/Systems/{{ hostvars[sno_host]['domain_uuid'] }}
{% endif %}
    bmcCredentialsName:
      name: {{ sno_host }}-bmc-secret
    bootMACAddress: {{ hostvars[sno_host]['mac_address'] }}
    bootMode: UEFI
    hostName: {{ sno_host }}
{% if ai_clusterinstance_ironic_inspect %}
    # Can not actually set enabled, unset is enabled
    # ironicInspect: enabled
{% else %}
    ironicInspect: disabled
{% endif %}
    nodeNetwork:
      interfaces:
      - name: {{ sno_nic_interface }}
        macAddress: {{ hostvars[sno_host]['mac_address'] }}
      config:
        interfaces:
        - name: {{ sno_nic_interface }}
          type: ethernet
          state: up
          # identifier: mac-address
          # mac-address: {{ hostvars[sno_host]['mac_address'] }}
{% if hostvars[sno_host].ip | ansible.utils.ipv4 %}
          ipv4:
            enabled: true
            autoconf: false
            dhcp: false
            address:
            - ip: {{ hostvars[sno_host]['ip'] }}
              prefix-length: {{ hostvars[sno_host]['network_prefix'] }}
          ipv6:
            enabled: false
{% else %}
          ipv4:
            enabled: false
          ipv6:
            enabled: true
            autoconf: false
            dhcp: false
            address:
            - ip: {{ hostvars[sno_host]['ip'] }}
              prefix-length: {{ hostvars[sno_host]['network_prefix'] }}
{% endif %}
        dns-resolver:
          config:
            server:
            - {{ hostvars[sno_host]['hv_ip'] }}
        routes:
          config:
          - destination: {{ "::/0" if hostvars[sno_host]['ip'] | ansible.utils.ipv6 else "0.0.0.0/0" }}
            next-hop-address: {{ hostvars[sno_host]['gateway'] }}
            next-hop-interface: {{ sno_nic_interface }}
    templateRefs:
    - name: {{ ai_clusterinstance_node_templates }}
      namespace: {{ ai_clusterinstance_node_templates_ns }}
  pullSecretRef:
    name: ai-pull-secret
  serviceNetwork:
  - cidr: {{ "fd02::/112" if hostvars[sno_host]['ip'] | ansible.utils.ipv6 else "172.30.0.0/16" }}
  sshPublicKey: {{ lookup('file', ssh_public_key_file) }}
  templateRefs:
  - name: {{ ai_clusterinstance_cluster_templates }}
    namespace: {{ ai_clusterinstance_cluster_templates_ns }}
