---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ sno_host }}
  labels:
    name: {{ sno_host }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ sno_host }}-bmc-secret
  namespace: {{ sno_host }}
type: Opaque
data:
  password: {{ bmc_password_base64 }}
  username: {{ bmc_username_base64 }}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: {{ sno_host }}
  namespace: {{ sno_host }}
  labels:
    sno-cluster-{{ sno_host }}: {{ sno_host }}
spec:
  config:
    interfaces:
    - name: {{ sno_nic_interface }}
      type: ethernet
      state: up
      {{ "ipv6" if hostvars[sno_host]['ip'] | ansible.utils.ipv6 else "ipv4" }}:
        enabled: true
        autoconf: false
        dhcp: false
        address:
        - ip: {{ hostvars[sno_host]['ip'] }}
          prefix-length: {{ hostvars[sno_host]['network_prefix'] }}
        dhcp: false
    dns-resolver:
      config:
        server:
        - {{ hostvars[sno_host]['hv_ip'] }}
    routes:
      config:
      - destination: {{ "::/0" if hostvars[sno_host]['ip'] | ansible.utils.ipv6 else "0.0.0.0/0" }}
        metric: 1
        next-hop-address: {{ hostvars[sno_host]['gateway'] }}
        next-hop-interface: {{ sno_nic_interface }}
        table-id: 254
  interfaces:
  - name: {{ sno_nic_interface }}
    macAddress: {{ hostvars[sno_host]['mac_address'] }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ai-pull-secret
  namespace: {{ sno_host }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret | b64encode }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ sno_host }}-marketplace-namespace
  namespace: {{ sno_host }}
data:
  namespace.yml: |
    # Taken from https://github.com/operator-framework/operator-marketplace/blob/53c124a3f0edfd151652e1f23c87dd39ed7646bb/manifests/01_namespace.yaml
    # Update it as the source evolves.
    apiVersion: v1
    kind: Namespace
    metadata:
      annotations:
        openshift.io/node-selector: ""
        workload.openshift.io/allowed: "management"
      labels:
        openshift.io/cluster-monitoring: "true"
        pod-security.kubernetes.io/enforce: baseline
        pod-security.kubernetes.io/enforce-version: v1.25
        pod-security.kubernetes.io/audit: baseline
        pod-security.kubernetes.io/audit-version: v1.25
        pod-security.kubernetes.io/warn: baseline
        pod-security.kubernetes.io/warn-version: v1.25
      name: "openshift-marketplace"
---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  annotations:
{% if sno_du_profile == "4.15" %}
    agent-install.openshift.io/install-config-overrides: '{"networking":{"networkType":"OVNKubernetes"},"capabilities":{"baselineCapabilitySet":"None","additionalEnabledCapabilities":["OperatorLifecycleManager","NodeTuning"]}}'
{% elif sno_du_profile in ["4.16", "4.17", "4.18", "4.19", "4.20"] %}
    agent-install.openshift.io/install-config-overrides: '{"networking":{"networkType":"OVNKubernetes"},"capabilities":{"baselineCapabilitySet":"None","additionalEnabledCapabilities":["OperatorLifecycleManager","Ingress","NodeTuning"]}}'
{% else %}
    agent-install.openshift.io/install-config-overrides: '{"networking":{"networkType":"OVNKubernetes"}}'
{% endif %}
  name: {{ sno_host }}
  namespace: {{ sno_host }}
spec:
  clusterDeploymentRef:
    name: {{ sno_host }}
  imageSetRef:
    name: {{ cluster_image_set }}
  networking:
    clusterNetwork:
      - cidr: {{ "fd01::/48" if hostvars[sno_host]['ip'] | ansible.utils.ipv6 else "10.128.0.0/14" }}
        hostPrefix: {{ hostvars[sno_host]['network_prefix'] }}
    machineNetwork:
      - cidr: {{ hostvars[sno_host]['machine_network'] }}
    serviceNetwork:
      - {{ "fd02::/112" if hostvars[sno_host]['ip'] | ansible.utils.ipv6 else "172.30.0.0/16" }}
  provisionRequirements:
    controlPlaneAgents: 1
    workerAgents: 0
  sshPublicKey: {{ lookup('file', ssh_public_key_file) }}
{% if sno_du_profile in ["4.15", "4.16", "4.17", "4.18", "4.19", "4.20"] %}
  manifestsConfigMapRefs:
  - name: {{ sno_host }}-marketplace-namespace
{% if ai_siteconfig_enable_cpuset %}
  - name: sno-workload-partitioning-configmap
{% else %}
  # - name: sno-workload-partitioning-configmap
{% endif %}
{% else %}
{% if ai_siteconfig_enable_cpuset %}
  manifestsConfigMapRefs:
  - name: sno-workload-partitioning-configmap
{% else %}
  # manifestsConfigMapRefs:
  # - name: sno-workload-partitioning-configmap
{% endif %}
{% endif %}
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ sno_host }}
  namespace: {{ sno_host }}
spec:
  baseDomain: {{ hostvars[sno_host]['base_domain'] }}
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: {{ sno_host }}
    version: v1beta1
  clusterName: {{ sno_host }}
  platform:
    agentBareMetal:
      agentSelector:
        matchLabels:
          cluster-name: {{ sno_host }}
  pullSecretRef:
    name: ai-pull-secret
---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ sno_host }}
  namespace: {{sno_host }}
spec:
  clusterName: {{ sno_host }}
  clusterNamespace: {{ sno_host }}
  applicationManager:
    enabled: false
  certPolicyController:
    enabled: false
  iamPolicyController:
    enabled: false
  policyController:
    enabled: true
  searchCollector:
    enabled: {{ setup_ztp_searchcollector_enabled }}
---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ sno_host }}
  labels:
    cloud: auto-detect
    common: 'true'
{% if sno_du_profile in ["4.15", "4.16", "4.17", "4.18", "4.19", "4.20"] %}
    du-profile: "{{ sno_du_profile }}"
{% endif %}
    group-du-sno: ''
    name: {{ sno_host }}
{% if sno_mc_observability %}
    observability: enabled
{% else %}
    observability: disabled
{% endif %}
    sites: {{ sno_host }}
    vendor: auto-detect
spec:
  hubAcceptsClient: true
---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ sno_host }}
  namespace: {{ sno_host }}
spec:
  additionalNTPSources:
  - {{ hostvars[sno_host]['hv_ip'] }}
  clusterRef:
    name: {{ sno_host }}
    namespace: {{ sno_host }}
{% if sno_du_profile in ["4.19", "4.20"] %}
  ignitionConfigOverride: "{\"ignition\":{\"version\":\"3.2.0\"},\"storage\":{\"files\":[{\"path\":\"/etc/containers/policy.json\",\"mode\":420,\"overwrite\":true,\"contents\":{\"source\":\"data:text/plain;charset=utf-8;base64,ewogICAgImRlZmF1bHQiOiBbCiAgICAgICAgewogICAgICAgICAgICAidHlwZSI6ICJpbnNlY3VyZUFjY2VwdEFueXRoaW5nIgogICAgICAgIH0KICAgIF0sCiAgICAidHJhbnNwb3J0cyI6CiAgICAgICAgewogICAgICAgICAgICAiZG9ja2VyLWRhZW1vbiI6CiAgICAgICAgICAgICAgICB7CiAgICAgICAgICAgICAgICAgICAgIiI6IFt7InR5cGUiOiJpbnNlY3VyZUFjY2VwdEFueXRoaW5nIn1dCiAgICAgICAgICAgICAgICB9CiAgICAgICAgfQp9\"}}]}}"
{% endif %}
  sshAuthorizedKey: {{ lookup('file', ssh_public_key_file) }}
  agentLabelSelector:
    matchLabels:
      cluster-name: {{ sno_host }}
  pullSecretRef:
    name: ai-pull-secret
  nmStateConfigLabelSelector:
    matchLabels:
      sno-cluster-{{ sno_host }}: {{ sno_host }}
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ sno_host }}
  namespace: {{ sno_host }}
  annotations:
    inspect.metal3.io: disabled
    bmac.agent-install.openshift.io/hostname: "{{ sno_host }}"
  labels:
    infraenvs.agent-install.openshift.io: "{{ sno_host }}"
spec:
  bootMode: "UEFI"
  bmc:
{% if hostvars[sno_host]['hv_ip'] | ansible.utils.ipv6 %}
    address: redfish-virtualmedia+http://[{{ hostvars[sno_host]['hv_ip'] }}]:9000/redfish/v1/Systems/{{ hostvars[sno_host]['domain_uuid'] }}
{% else %}
    address: redfish-virtualmedia+http://{{ hostvars[sno_host]['hv_ip'] }}:9000/redfish/v1/Systems/{{ hostvars[sno_host]['domain_uuid'] }}
{% endif %}
    disableCertificateVerification: true
    credentialsName: {{ sno_host }}-bmc-secret
  bootMACAddress: {{ hostvars[sno_host]['mac_address'] }}
  automatedCleaningMode: disabled
  online: true
{% if ai_siteconfig_enable_cpuset %}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: sno-workload-partitioning-configmap
  namespace: {{ sno_host }}
data:
  workload-partitioning-mc.yaml: |
    apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: master
      name: 02-master-workload-partitioning
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
          - contents:
              source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './01-workload-partitioning.j2') | b64encode }}
            mode: 420
            overwrite: true
            path: /etc/crio/crio.conf.d/01-workload-partitioning
            user:
              name: root
          - contents:
              source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './openshift-workload-pinning.json.j2') | b64encode }}
            mode: 420
            overwrite: true
            path: /etc/kubernetes/openshift-workload-pinning
            user:
              name: root
{% else %}
# ---
# kind: ConfigMap
# apiVersion: v1
# metadata:
#   name: sno-workload-partitioning-configmap
#   namespace: {{ sno_host }}
# data:
#   workload-partitioning-mc.yaml: |
#     apiVersion: machineconfiguration.openshift.io/v1
#     kind: MachineConfig
#     metadata:
#       labels:
#         machineconfiguration.openshift.io/role: master
#       name: 02-master-workload-partitioning
#     spec:
#       config:
#         ignition:
#           version: 3.2.0
#         storage:
#           files:
#           - contents:
#               source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './01-workload-partitioning.j2') | b64encode }}
#             mode: 420
#             overwrite: true
#             path: /etc/crio/crio.conf.d/01-workload-partitioning
#             user:
#               name: root
#           - contents:
#               source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './openshift-workload-pinning.json.j2') | b64encode }}
#             mode: 420
#             overwrite: true
#             path: /etc/kubernetes/openshift-workload-pinning
#             user:
#               name: root
{% endif %}
