---
apiVersion: ran.openshift.io/v1alpha1
kind: ClusterGroupUpgrade
metadata:
  name: platform-ibu-rollback-{{ ibu_seed_image_version | replace('.', '-')  }}-{{ '%04d' | format(item) }}
  namespace: ztp-platform-upgrade
  labels:
    ibu-rollback: "{{ ibu_seed_image_version }}"
spec:
  actions:
    beforeEnable:
      removeClusterAnnotations:
      - import.open-cluster-management.io/disable-auto-import
  managedPolicies:
  - group-ibu-rollback-policy
  clusterSelector:
  - 'ibu-upgraded={{ ibu_seed_image_version }}'
  remediationStrategy:
    maxConcurrency: {{ platform_ibu_rollback_concurrency }}
    timeout: {{ platform_ibu_rollback_timeout }}
  enable: {{ platform_ibu_rollback_enable }}
