apiVersion: v1
kind: Secret
metadata:
  name: {{ hcp_cluster_name }}-pull-secret
  namespace: {{ hcp_namespace }}
Type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ hcp_pull_secret | to_json | b64encode }}
