---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ acm_global_hub_namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: multicluster-global-hub-operator-group
  namespace: {{ acm_global_hub_namespace }}
spec:
  targetNamespaces:
  - multicluster-global-hub
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: multicluster-global-hub-operator-rh
  namespace: {{ acm_global_hub_namespace }}
spec:
  installPlanApproval: Automatic
  name: multicluster-global-hub-operator-rh
  channel: {{ acm_global_hub_default_channel }}
  source: {{ acm_global_hub_source }}
  sourceNamespace: openshift-marketplace
