---
apiVersion: v1
kind: Secret
metadata:
  name: {{ item }}-bmc-secret
  namespace: {{ ocloud_resource_pool_name }}
type: Opaque
data:
  username: {{ bmc_username_base64 }}
  password: {{ bmc_password_base64 }}
