---
apiVersion: v1
kind: Secret
metadata:
  name: pull-secret
  namespace: {{ ocloud_cluster_template_ns }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ (pull_secret | to_json if pull_secret is mapping else pull_secret) | b64encode }}"
