---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
# ProvisioningRequests are commented out by default
# acm-deploy-load.py will uncomment them during deployment
{% for pr_file in provisioningrequest_list %}
{% set pr_index = provisioningrequest_list.index(pr_file) %}
{% if pr_index >= (item - 1) * ocloud_provisioningrequests_per_application and pr_index < item * ocloud_provisioningrequests_per_application %}
# - {{ pr_file | basename }}
{% endif %}
{% endfor %}
