---
apiVersion: v1
kind: ConfigMap
metadata:
  name: policytemplate-defaults
  namespace: {{ ocloud_cluster_template_ns }}
data:
  policyTemplateParameters: |
    cpu-isolated: "2-31"
    cpu-reserved: "0-1"
    hugepages-default: "1G"
    hugepages-count: "16"
    hugepages-size: "1G"
