type: s3
config:
  bucket: "thanos"
  endpoint: "{{ observability_thanos_s3_bucket_endpoint }}"
  insecure: true
  access_key: "{{ observability_thanos_s3_bucket_access_key }}"
  secret_key: "{{ observability_thanos_s3_bucket_secret_key }}"
