---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ocloud-clusters-{{ '%02d' | format(item) }}
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: ztp
  source:
    path: {{ ztp_argocd_base_path }}/cluster/ocloud-clusters-{{ '%02d' | format(item) }}
    repoURL: {{ ztp_gitops_repo_url }}
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
