# Reference - https://github.com/openshift-kni/telco-reference/blob/release-4.18/telco-core/install/example-standard.yaml
---
apiVersion: ran.openshift.io/v1
kind: SiteConfig
metadata:
  name: {{ item.cluster_name }}
  namespace: {{ item.cluster_name }}
spec:
  baseDomain: {{ item.base_domain }}
  pullSecretRef:
    name: "assisted-deployment-pull-secret"
  clusterImageSetNameRef: {{ core_cluster_image_set }}
  sshPublicKey: {{ lookup('file', ssh_public_key_file) }}
  # Optionally; This can be used to configure desired BIOS setting on all hosts in this site:
  # biosConfigRef:
  #   filePath: "example-hw.profile"
  clusters:
  - clusterName: {{ item.cluster_name }}
    networkType: "OVNKubernetes"
    extraManifests:
      searchPaths:
        # Reference configuration extra manifests
        # - extra-manifests
        # Custom extra manifests if needed
        # - custom-manifests
    clusterLabels:
      common: "core"
      version: "{{ core_ocp_version }}"
      region: "zone-1"
      name: {{ item.cluster_name }}
      vendor: OpenShift
      observability: disabled
    clusterNetwork:
    - cidr: {{ item.cluster_network }}
      hostPrefix: {{ item.host_prefix }}
    apiVIPs:
    - {{ item.api_address }}
    ingressVIPs:
    - {{ item.ingress_address }}
    serviceNetwork:
    - {{ item.service_network }}
    machineNetwork:
    - cidr: {{ item.machine_network }}
    additionalNTPSources:
    - {{ item.ntp_source }}
    nodes:
{% for node in item.nodes %}
    - hostName: {{ node.hostname }}
{%   if loop.index <= 3 %}
      role: "master"
{%   else %}
      role: "worker"
{%   endif %}
      # ironicInspect defaults to enabled and consumes more time for inspection of nodes
      ironicInspect: disabled
      bmcAddress: {{ node.bmc_address }}
      bmcCredentialsName:
        name: {{ node.hostname }}-bmc-secret
      bootMACAddress: {{ node.mac_address }}
      bootMode: "{{ node.boot_mode }}"
      # rootDeviceHints:
      #   deviceName: "/dev/disk/by-path/pci-0000:00:11.5-ata-3.0"
      nodeNetwork:
        interfaces:
        - macAddress: {{ node.mac_address }}
          name: eno1
        config:
          interfaces:
          - name: eno1
            type: ethernet
            state: up
            ipv4:
              address:
              - ip: {{ node.ip_address }}
                prefix-length: {{ node.prefix_length }}
              enabled: true
            ipv6:
              enabled: false
          dns-resolver:
            config:
              server:
              - {{ node.dns_address }}
          routes:
            config:
            - destination: 0.0.0.0/0
              next-hop-interface: eno1
              next-hop-address: {{ node.default_gateway_address }}
              table-id: 254
{% endfor %}
