---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ item.cluster_name }}
  labels:
    name: {{ item.cluster_name }}
---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: {{ item.cluster_name }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ pull_secret | to_json | b64encode }}"
{% for node in item.nodes %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node.hostname }}-bmc-secret
  namespace: {{ item.cluster_name }}
type: Opaque
data:
  password: {{ node.bmc_password | b64encode }}
  username: {{ node.bmc_user | b64encode }}
{% endfor %}
{% if telco_core_clusterinstance_extra_manifests %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: extra-manifests-configmap
  namespace: {{ item.cluster_name }}
data:
{%   for item in telco_core_extra_manifests %}
  {{ item | basename }}: |
    {{ lookup('file', 'extra-manifests/' + item ) | indent(4) }}
{%   endfor %}
{% endif %}
---
apiVersion: siteconfig.open-cluster-management.io/v1alpha1
kind: ClusterInstance
metadata:
  name: {{ item.cluster_name }}
  namespace: {{ item.cluster_name }}
spec:
  baseDomain: {{ item.base_domain }}
  pullSecretRef:
    name: "assisted-deployment-pull-secret"
  clusterImageSetNameRef: {{ core_cluster_image_set }}
  sshPublicKey: {{ lookup('file', ssh_public_key_file) }}
  clusterName: {{ item.cluster_name }}
  networkType: OVNKubernetes
  clusterType: HighlyAvailable
  # Reference configuration extra manifests
{% if telco_core_clusterinstance_extra_manifests or telco_core_clusterinstance_custom_manifests %}
  extraManifestsRefs:
{%   if telco_core_clusterinstance_extra_manifests %}
  - name: extra-manifests-configmap
{%   else %}
  # - name: extra-manifests-configmap
{%   endif %}
{%   if telco_core_clusterinstance_custom_manifests %}
  - name: custom-manifests-configmap
{%   else %}
  # - name: custom-manifests-configmap
{%   endif %}
{% else %}
  # extraManifestsRefs:
  # - name: extra-manifests-configmap
  # - name: custom-manifests-configmap
{% endif %}
  extraLabels:
    ManagedCluster:
      common: "core"
      version: "{{ core_ocp_version }}"
      region: "zone-1"
      name: {{ item.cluster_name }}
      vendor: OpenShift
{% if telco_core_observability %}
      observability: enabled
{% else %}
      observability: disabled
{% endif %}
  clusterNetwork:
  - cidr: {{ item.cluster_network }}
    hostPrefix: {{ item.host_prefix }}
  apiVIPs:
  - {{ item.api_address }}
  ingressVIPs:
  - {{ item.ingress_address }}
  serviceNetwork:
  - cidr: {{ item.service_network }}
  machineNetwork:
  - cidr: {{ item.machine_network }}
  additionalNTPSources:
  - {{ item.ntp_source }}
  ignitionConfigOverride: "{\"ignition\":{\"version\":\"3.2.0\"},\"storage\":{\"files\":[{\"path\":\"/etc/containers/policy.json\",\"mode\":420,\"overwrite\":true,\"contents\":{\"source\":\"data:text/plain;charset=utf-8;base64,ewogICAgImRlZmF1bHQiOiBbCiAgICAgICAgewogICAgICAgICAgICAidHlwZSI6ICJpbnNlY3VyZUFjY2VwdEFueXRoaW5nIgogICAgICAgIH0KICAgIF0sCiAgICAidHJhbnNwb3J0cyI6CiAgICAgICAgewogICAgICAgICAgICAiZG9ja2VyLWRhZW1vbiI6CiAgICAgICAgICAgICAgICB7CiAgICAgICAgICAgICAgICAgICAgIiI6IFt7InR5cGUiOiJpbnNlY3VyZUFjY2VwdEFueXRoaW5nIn1dCiAgICAgICAgICAgICAgICB9CiAgICAgICAgfQp9\"}}]}}"
  templateRefs:
  - name: {{ telco_core_ai_clusterinstance_cluster_templates }}
    namespace: {{ telco_core_ai_clusterinstance_cluster_templates_ns }}
  nodes:
{% for node in item.nodes %}
  - hostName: {{ node.hostname }}
{%   if node.role == 'master' %}
    role: "master"
{%   else %}
    role: "worker"
{%   endif %}
{% if node.role == 'infra' %}
    nodeLabels:
      node-role.kubernetes.io/infra: ""
{% endif %}
    automatedCleaningMode: disabled
    bmcAddress: {{ node.bmc_address }}
    bmcCredentialsName:
      name: {{ node.hostname }}-bmc-secret
    bootMACAddress: {{ node.mac_address }}
    bootMode: "{{ node.boot_mode }}"
    # ironicInspect defaults to enabled and consumes more time for inspection of nodes
    ironicInspect: disabled
    # rootDeviceHints:
    #   deviceName: "/dev/disk/by-path/pci-0000:00:11.5-ata-3.0"
    nodeNetwork:
      interfaces:
      - macAddress: {{ node.mac_address }}
        name: eno1
      config:
        interfaces:
        - name: eno1
          type: ethernet
          state: up
{% if node.ip_address | ansible.utils.ipv4 %}
          ipv4:
            address:
            - ip: {{ node.ip_address }}
              prefix-length: {{ node.prefix_length }}
            enabled: true
          ipv6:
            enabled: false
{% else %}
          ipv4:
            enabled: false
          ipv6:
            enabled: true
            address:
            - ip: {{ node.ip_address }}
              prefix-length: {{ node.prefix_length }}
{% endif %}
        dns-resolver:
          config:
            server:
            - {{ node.dns_address }}
        routes:
          config:
          - destination: {{ "::/0" if node.ip_address | ansible.utils.ipv6 else "0.0.0.0/0" }}
            next-hop-interface: eno1
            next-hop-address: {{ node.default_gateway_address }}
            table-id: 254
    templateRefs:
    - name: {{ telco_core_ai_clusterinstance_node_templates }}
      namespace: {{ telco_core_ai_clusterinstance_node_templates_ns }}
{% endfor %}
