{% for node in core_cluster_nodes %}
{%   set sno_long_hostname=node.pm_addr | replace('mgmt-','') %}
{%   set sno_short_hostname=(sno_long_hostname.split('.')[0]) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ sno_short_hostname }}-bmc-secret
  namespace: {{ cluster_name }}
type: Opaque
data:
  password: {{ node.pm_password | b64encode }}
  username: {{ node.pm_user | b64encode }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: {{ cluster_name }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: '{{ pull_secret | to_json | b64encode }}'
