{% for node in item.nodes %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node.hostname }}-bmc-secret
  namespace: {{ item.cluster_name }}
type: Opaque
data:
  password: {{ node.bmc_password | b64encode }}
  username: {{ node.bmc_user | b64encode }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: {{ item.cluster_name }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: '{{ pull_secret | to_json | b64encode }}'
