---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: aap-controller-token
  namespace: ztp-day2-automation
  labels:
    cluster.open-cluster-management.io/type: ans
    cluster.open-cluster-management.io/credentials: ""
data:
  host: {{ automationcontroller_url | b64encode }}
  token: {{ automationcontroller_token | b64encode }}
