---
apiVersion: lca.openshift.io/{{ seedgenerator_apiversion }}
kind: SeedGenerator
metadata:
  name: seedimage
spec:
{% if recert_image_override %}
  recertImage: {{ recert_image }}
{% endif %}
  seedImage: {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}/openshift-kni/ocp-ibu:{{ ibu_seed_image_version }}.ibu-x86_64
