---
apiVersion: v1
kind: Secret
metadata:
  name: seedgen
  namespace: openshift-lifecycle-agent
type: Opaque
data:
{% set _auth = {"auths": {rhacm_disconnected_registry ~ ":" ~ rhacm_disconnected_registry_port: {"auth": (registry_user ~ ":" ~ registry_password) | b64encode}}} %}
  seedAuth: {{ _auth | to_json | b64encode }}
