---
# telco-core-manifests tasks

# - debug:
#     msg: "{{ telco_core_clusters }}"

- name: Create directory for telco-core manifest files
  file:
    path: "{{ item }}"
    state: directory
  loop:
  - "{{ install_directory }}/telco-core-manifests"
  - "{{ install_directory }}/telco-core-manifests/clusterinstance"
  - "{{ install_directory }}/telco-core-manifests/siteconfig"

# In older versions of Ansible, disconnected_pull_secret variable will be a dictionary and does not need a string to json conversion
- name: Set pull-secret for bastion registry
  set_fact:
    pull_secret: "{{ disconnected_pull_secret }}"
  when:
  - rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1
  - disconnected_pull_secret is mapping

# In modern versions of Ansible, disconnected_pull_secret variable will be a string and must be converted into json
- name: Set pull-secret for bastion registry
  set_fact:
    pull_secret: "{{ disconnected_pull_secret | from_json }}"
  when:
  - rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1
  - disconnected_pull_secret is string

- name: Create telco-core clusterinstances
  template:
    src: telco-core-clusterinstance.yml.j2
    dest: "{{ install_directory }}/telco-core-manifests/clusterinstance/{{ item.cluster_name }}-clusterinstance.yml"
  loop: "{{ telco_core_clusters }}"

# Siteconfig no longer has a reference after 4.19
- name: Create telco-core siteconfigs
  template:
    src: telco-core-siteconfig.yml.j2
    dest: "{{ install_directory }}/telco-core-manifests/siteconfig/{{ item.cluster_name }}-siteconfig.yml"
  loop: "{{ telco_core_clusters }}"
  when: core_ocp_version in ['4.18', '4.19']

- name: Create telco-core resources
  template:
    src: telco-core-resources.yml.j2
    dest: "{{ install_directory }}/telco-core-manifests/siteconfig/{{ item.cluster_name }}-resources.yml"
  loop: "{{ telco_core_clusters }}"
  when: core_ocp_version in ['4.18', '4.19']
