---
# rhacm-siteconfig-operator tasks
# SiteConfig Operator is included with ACM 2.12

- name: Create directory for SiteConfig Operator manifests
  file:
    path: "{{ install_directory }}/rhacm-siteconfig-operator"
    state: directory

- name: Copy SiteConfig Operator ai-cluster template with search collector enabled
  ansible.builtin.copy:
    src: ai-cluster-templates-v1-search.yaml
    dest: "{{ install_directory }}/rhacm-siteconfig-operator/ai-cluster-templates-v1-search.yaml"

- name: Enable SiteConfig Operator
  shell: |
    export KUBECONFIG={{ hub_cluster_kubeconfig }}
    oc get mch -n open-cluster-management multiclusterhub -o json | jq '.spec.overrides.components[] |= (select(.name=="siteconfig").enabled = true)' | oc replace -f -

- name: Wait for SiteConfig Operator pod exists
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc get pods -n open-cluster-management -l app.kubernetes.io/name=siteconfig-controller
  retries: 150
  delay: 2
  register: as_pod
  until: as_pod.failed == false

- name: Wait for SiteConfig Operator pod running
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc get pods -n open-cluster-management -l app.kubernetes.io/name=siteconfig-controller -o jsonpath='{.items[0].status.phase}'
  retries: 150
  delay: 2
  register: as_pod
  until: as_pod.stdout == "Running"

- name: Apply SiteConfig Operator ai-cluster template with search collector enabled
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc apply -f {{ install_directory }}/rhacm-siteconfig-operator/ai-cluster-templates-v1-search.yaml

- name: Patch SiteConfig Operator maxConcurrentReconciles to {{ siteconfig_max_concurrent_reconciles }}
  when: tune_sco_threads
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc patch configmap siteconfig-operator-configuration -n open-cluster-management --type=merge -p '{"data":{"maxConcurrentReconciles":"{{ siteconfig_max_concurrent_reconciles }}"}}'

- name: Restart SiteConfig Operator Pod
  when: tune_sco_threads
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc rollout restart deployment -n open-cluster-management siteconfig-controller-manager
