apiVersion: v1
immutable: true
kind: ConfigMap
metadata:
  name: {{ item.name }}
{%- raw %}
  namespace: open-cluster-management
data:
  ClusterDeployment: |-
    apiVersion: hive.openshift.io/v1
    kind: ClusterDeployment
    metadata:
      name: "{{ .Spec.ClusterName }}"
      namespace: "{{ .Spec.ClusterName }}"
      annotations:
        siteconfig.open-cluster-management.io/sync-wave: "1"
        velero.io/restore-status: "true"
    spec:
      baseDomain: "{{ .Spec.BaseDomain }}"
      clusterInstallRef:
        group: extensions.hive.openshift.io
        kind: ImageClusterInstall
        name: "{{ .Spec.ClusterName }}"
        version: v1alpha1
      clusterName: "{{ .Spec.ClusterName }}"
      platform:
        none: {}
      pullSecretRef:
        name: "{{ .Spec.PullSecretRef.Name }}"
  KlusterletAddonConfig: |-
    apiVersion: agent.open-cluster-management.io/v1
    kind: KlusterletAddonConfig
    metadata:
      annotations:
        siteconfig.open-cluster-management.io/sync-wave: "2"
      labels:
        installer.name: multiclusterhub
        installer.namespace: open-cluster-management
      name: "{{ .Spec.ClusterName }}"
      namespace: "{{ .Spec.ClusterName }}"
    spec:
      clusterName: "{{ .Spec.ClusterName }}"
      clusterNamespace: "{{ .Spec.ClusterName }}"
      applicationManager:
        enabled: true
      certPolicyController:
        enabled: true
      iamPolicyController:
        enabled: true
      policyController:
        enabled: true
      searchCollector:
        enabled: {% endraw %}{{ item.search }}
{%- raw %}
  ManagedCluster: |-
    apiVersion: cluster.open-cluster-management.io/v1
    kind: ManagedCluster
    metadata:
      name: "{{ .Spec.ClusterName }}"
      annotations:
        siteconfig.open-cluster-management.io/sync-wave: "2"
{% endraw %}
{% if item.obs and siteconfig_obs_alertmanager_route is defined %}
        acm-alertmanager-route: '{{ siteconfig_obs_alertmanager_route }}'
        acm-hub-cluster-id: '{{ siteconfig_obs_hub_cluster_id }}'
{% endif %}
      labels:
        cloud: auto-detect
        vendor: auto-detect
    spec:
      hubAcceptsClient: true
