---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

{% set hosts = query('inventory_hostnames', 'hv_vm') | sort %}
resources: []
{% for host in hosts %}
# - {{ host }}.yaml
{% endfor %}
