---
apiVersion: ran.openshift.io/v1alpha1
kind: ClusterGroupUpgrade
metadata:
  name: ibu-upgrade-{{ ibu_seed_image_version | replace('.', '-')  }}-{{ '%04d' | format(item) }}
  namespace: ztp-platform-upgrade
  labels:
    ibu-upgrade: "{{ ibu_seed_image_version }}"
spec:
  actions:
    beforeEnable:
      addClusterAnnotations:
        import.open-cluster-management.io/disable-auto-import: "true"
    afterCompletion:
      removeClusterAnnotations:
      - import.open-cluster-management.io/disable-auto-import
      addClusterLabels:
        ibu-upgraded: "{{ ibu_seed_image_version }}"
        ibu-upgrade: "{{ ibu_seed_image_version }}-{{ '%04d' | format(item) }}"
  managedPolicies:
  - group-ibu-upgrade-policy
  clusterSelector:
  - 'ibu-prep={{ ibu_seed_image_version }}-{{ '%04d' | format(item) }}'
  remediationStrategy:
    maxConcurrency: {{ ibu_upgrade_concurrency }}
    timeout: {{ ibu_upgrade_timeout }}
  enable: {{ ibu_upgrade_enable }}
