---
apiVersion: ran.openshift.io/v1alpha1
kind: ClusterGroupUpgrade
metadata:
  name: ibu-finalize-{{ ibu_seed_image_version | replace('.', '-')  }}-{{ '%04d' | format(item) }}
  namespace: ztp-platform-upgrade
  labels:
    ibu-finalize: "{{ ibu_seed_image_version }}"
spec:
  actions:
    beforeEnable:
      removeClusterAnnotations:
      - import.open-cluster-management.io/disable-auto-import
  managedPolicies:
  - group-ibu-finalize-policy
  clusterSelector:
  - 'ibu-upgraded={{ ibu_seed_image_version }}'
  remediationStrategy:
    maxConcurrency: {{ ibu_finalize_concurrency }}
    timeout: {{ ibu_finalize_timeout }}
  enable: {{ ibu_finalize_enable }}
